*{
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: #2b2d42;
    border-bottom: solid 4px #8d99ae;
}

footer{
    height: 100px;
    background-color: #2b2d42;
    border-top: solid 4px #8d99ae;
}

.button{
    height: 50px;
    width: 75px;
    background-color: #8d99ae;
    color: #d90429;
    float: right;
    display: block;
    border-radius: 50%;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 25px;
}

.button a:hover{
    background-color: #edf2f4;
    color: #ef233c;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navitem{
    float: left;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #edf2f4;
}

.navitem a:hover{
    
}